# LangSmith Configuration
LANGCHAIN_TRACING_V2="true"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY="your_langchain_api_key_here"
LANGCHAIN_PROJECT="your_langsmith_project_name_here" # e.g., "Sekai-Optimizer"

# LLM API Keys
OPENAI_API_KEY="your_openai_api_key_here"
GEMINI_API_KEY="your_google_gemini_api_key_here"

# Operational Parameters
MAX_ITERATIONS=20
MAX_OPTIMIZATION_MINUTE=5

# Configs
INIT_STRATEGY_PROMPT="Recommend stories based on user tags"
USER_PER_BATCH=3