# LangSmith Configuration
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=please_contact_the_auther_for_this_key
LANGSMITH_PROJECT=sekai-exam

# LLM API Keys
OPENAI_API_KEY=your_openai_api_key_here
GEMINI_API_KEY=your_google_gemini_api_key_here

# Operational Parameters
MAX_ITERATIONS=3
MAX_OPTIMIZATION_MINUTE=20

# Configs
INIT_STRATEGY_PROMPT="Recommend stories based on user tags"
USER_PER_BATCH=3